<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="com.guoshi.httpcanary" />
        <package android:name="com.guoshi.httpcanary.premium" />
        <package android:name="com.guoshi.httpcanary.capture" />
        <package android:name="com.guoshi.httpcanary.android" />
        <package android:name="com.guoshi.httpcanary.debug" />
        <package android:name="com.reqable.android" />
        <package android:name="com.reqable.android.beta" />
        <package android:name="app.greyshirts.sslcapture" />
        <package android:name="com.minhui.networkcapture" />
        <package android:name="jp.co.taosoftware.android.packetcapture" />
        <package android:name="com.emanuelef.remote_capture" />
        <package android:name="com.proxydroid" />
        <package android:name="org.proxydroid" />
        <package android:name="tech.httptoolkit.android.v1" />
        <package android:name="com.gorillasoftware.everyproxy" />
        <package android:name="com.gorillasoftware.everyproxybridge" />
        <package android:name="com.speedy.vpn" />
        <package android:name="com.windscribe.vpn" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tg" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".MainApplication"
        android:label="Light On"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:hardwareAccelerated="true"
        android:enableOnBackInvokedCallback="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:hardwareAccelerated="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|navigation|uiMode|fontScale|density|smallestScreenSize|layoutDirection|locale">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".LightOnActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:hardwareAccelerated="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|navigation|uiMode|fontScale|density|smallestScreenSize|layoutDirection|locale" />

        <activity
            android:name=".AnimeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:hardwareAccelerated="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|navigation|uiMode|fontScale|density|smallestScreenSize|layoutDirection|locale" />

        <activity
            android:name=".EgyActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:hardwareAccelerated="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|navigation|uiMode|fontScale|density|smallestScreenSize|layoutDirection|locale" />

        <activity
            android:name=".ArabActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:hardwareAccelerated="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|navigation|uiMode|fontScale|density|smallestScreenSize|layoutDirection|locale" />

        <service
            android:name=".BackgroundDownloadService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

</manifest>
